<div id="<%= dom_id interview %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Job:</strong>
    <%= interview.job_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Evaluation summary:</strong>
    <%= interview.evaluation_summary %>
  </div>
</div>
